<html>

<head>
  <title>View Job</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class='container'>
    <br><br>
    <div class='row'>
      <div class='col-md-8'>
        <h2>Hello, {{ session['user']['first_name'] }}! These are the Job Details!</h2>
      </div>
      <div class='col-md-4 text-right'>
        <a href='/dashboard'>Dashboard</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <br>
    <h5>Job: {{ job_details['job']}}</h5>
    <br>
    <div style="border: 1px solid black">
      <p>Description: {{ job_details['description']}}</p>
      <p>location: {{ job_details['location']}}</p>
      <p>Posted By: {{ job_details['first_name']}}</p>
      <p>Posted On: {{ job_details['updated_at']}}</p>
    </div>




  </div>
</body>

</html>